    .div_container_section{
        background-color: rgb(233, 226, 226);
        padding-left: 5%;
    }

    .h2title_section{
    text-align: center;
    font-size: 25px;
    color: #703a13;
    font-weight: 400;
    padding-top: 25px;
    margin-bottom: 25px;
}